<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="E_BOTO.Properties.Settings.ElectionDatabaseConnectionString"
            connectionString="Data Source=MIYA;Initial Catalog=ElectionDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="E_BOTO.Properties.Settings.VotersDatabaseConnectionString"
            connectionString="Data Source=MIYA;Initial Catalog=VotersDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>